body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:black;

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.note-card{
    min-height: 400px;
    background-image: url('Assets/Paper.jpg');
    background-color:red;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 2em;
    overflow: hidden;
}

.note-title{
    text-align:center; 
    background-color: blue;
    color: black;
    
}
.note-title a{
    text-decoration: none;
}

.content-container {
    background-color:white;
}

.LeatherBack {
    width: 100%;
    height: fit-content(auto);
    background-image: url('Assets/Leather Seamless Texture.jpg');
}